@{
    <link rel="icon" type="image/png" href="~/icon.png" />
    Layout = null;
    <link rel="stylesheet" type="text/css" href="~/Clase7.css" />
}

<table border="1">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Numero</th>
            <th>Fecha</th>
            <th>CV2</th>
            <th colspan="2">
                <a href="/Tarjeta/Crear">
                    <p>Crear Tarjeta</p>
                </a>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var items in Model)
        {
            <tr>
                <td>@items.Nombre</td>
                <td>@items.Numero</td>
                <td>@items.Date</td>
                <td>@items.CV2</td>
                <td>
                    <form action="/Tarjeta/Borrar?id=@items.Id" method="post">
                        <button >Borrar</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>