
html, body {
    background-image: url('http://getwallpapers.com/wallpaper/full/3/5/7/170948.jpg');
    background-size: cover;
}

#text {
    text-align: center;
    color: white;
    font-size: 90px;
    font-family:Aharoni;
}