@{
    Layout = null;

    <title>Parking Lot</title>
}


        <a href="https://www.apple.com/ios/app-store/">
                <img src="~/PlayStore.png" width="400" height="150">
        </a>
        <a href="https://play.google.com/store">
                <img src="~/AppStore.png" width="380" height="110" />
        </a>
