@{
    Layout = null;
    <title>Parking Lot</title>
    <link rel="stylesheet" type="text/css" href="~/Ja.css" />
    <link rel="stylesheet" type="text/javascript" href="~/Ja.js" />
}
<div id="Contenido"></div>

<div class="footer">
    <div class="top-bar">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <ul id="top-header-menu" class="top-nav clearfix">
                        <li>
                            <button id="Perfil">Perfil</button>
                        </li>
                        <li>
                            <button id="Aparcamiento">Aparcamiento en la zona</button>
                        </li>
                        <li>
                            <button id="Pago">Medio de Pago</button>
                        </li>
                        <li>
                            <button id="Vehiculo">Vehiculos</button>
                        </li>
                        <li>
                            <button id="Historial">Historial</button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/main.js"></script>