@{
    <link rel="icon" type="image/png" href="~/icon.png" />
    <meta charset="utf-8" />
    Layout = null;
}

    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap" rel="stylesheet">
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link rel="stylesheet" type="text/css" href="~/Clase2.css" />

<div>
        <div class="topnav">
            <ul>
                <li class="icon">
                    <a href="javascript:void(0);" onclick="myFunction()">☰</a>
                </li>
                <li><a href="/Register" title="">Contactanos</a></li>
                <li><a href="/Register" title="">Ayuda</a></li>
                <li><a href="/Register" title="">Descargar Aplicacion</a></li>

            </ul>
        </div>


        <section id="main">
            <div class="fancy-monk">
                <h1>Parking Lot</h1>
                <div>
                    <div class="signinup">
                        <div class="text1">
                            <a href="/Register/Crear">
                                <input type="button" value="Crear Cuenta" class="btn btn-danger">
                            </a>
                        </div>
                        <div class="text2"> 
                            <a href="/Login">
                                <input type="button" value="Iniciar Sessión" class="btn btn-danger">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
</div>