@{
    <link rel="icon" type="image/png" href="~/icon.png" />
    Layout = null;
    <link rel="stylesheet" type="text/css" href="~/Clase7.css"/>
}
    
    <table>
        <tr>
            <th>Direccion</th>
            <th>Costo</th>
        </tr>
        <tr>
            <th>123</th>
            <th>123</th>
            <th rowspan="2">
                <form action="/" method="post">
                    <center><button> Reservar </button></center>
                </form>
            </th>
            <th rowspan="2">
                <form action="/" method="post">
                    <center><button> Ubicacion </button></center>
                </form>
            </th>
        </tr>
        

    </table>