@{
    <link rel="icon" type="image/png" href="~/icon.png" />
    Layout = null;
    <link rel="stylesheet" type="text/css" href="~/Clase7.css" />
}
<table >
    <thead>
        <tr>
            <th>Ubicacion</th>
            <th>Costo</th>
            <th>Vehiculo</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td>
                <form action="/" method="post">
                    <button> Eliminar </button>
                </form>
            </td>
        </tr>
    </tbody>
</table>
