@{
    <link rel="icon" type="image/png" href="~/icon.png" />
    Layout = null;
    <link rel="stylesheet" type="text/css" href="~/Clase7.css" />
}
<table>
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellidos</th>
            <th>Correo Electronico</th>
            <th>Nacimiento</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>