@{
    Layout = null;
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="~/Clase2.css" />
    <link rel="icon" type="image/png" href="~/icon.png" />
    <title>Parking Lot</title>
}

    <div>
        <div class="topnav">
            <ul>
                <li><a href="/Soporte/Index" >Soporte Técnico</a></li>
                <li><a href="/Servicios/Index" >Servicios</a></li>
                <li><a href="/APP/Index" >Descargar APP</a></li>
            </ul>
        </div>

        <section id="main">
            <div class="fancy-monk">
                <h1>Parking Lot</h1>
                <div>
                    <div class="signinup">
                        <div class="text1">
                            <a href="/Register/Index">
                                <input type="button" value="Crear Cuenta" class="btn btn-danger">
                            </a>
                        </div>
                        <div class="text2">
                            <a href="/Login/Index">
                                <input type="button" value="Iniciar Sessión" class="btn btn-danger">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="footer">
            <p>©CopyRight Parking  Lot Peru_2020  </p>
        </div>
    </div>